configuration {
  modes: "window,drun,run,ssh";
  drun-display-format: "{name}";
  drun-show-actions: false;
  drun-url-launcher: "xdg-open";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
@theme "theme.rasi"
